/* Body */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* NavBar */

#darkModeToggle {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.navbar {
  background-color: #fff;
  color: #333;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar .nav-links a {
  color: #333;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

.navbar .nav-links a:hover {
  background-color: #f0f8ff;
}

.navbar .share-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 20px;
}

.navbar .share-button:hover {
  background-color: #0088cc;
}

/* Event Title */

.event-title {
  font-size: 36px;
  padding-bottom: 20px;
  color: black;
}

/* Timer */

#timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

#timer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time-unit {
  background: #007bff;
  color: #fff;
  padding: 20px;
  font-size: 2em;
  text-align: center;
  width: 100px;
  position: relative;
}

.number-container {
  perspective: 1000px;
  position: relative;
  height: 1em;
  overflow: hidden;
}

.time-unit .number {
  display: block;
  position: absolute;
  width: 100%;
  line-height: 1em;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.time-unit .label {
  display: block;
  margin-top: 10px;
  font-size: 0.5em;
  color: #fff;
  text-align: center;
}

/* Form */
.form-container {
  margin-top: 30px
}
form {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

form h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form input[type="datetime-local"],
form button {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  margin-bottom: 10px;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0088cc;
}

#darkModeToggle {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
#darkModeToggle:hover {
  background-color: #0088cc;
}

/* Select an Event */
select {
  padding: 10px 0 10px 0;
  text-align: center;
  background-color: #007bff;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 20px;
  
}

select:hover {
  background-color: #0088cc;
}
/* dark mode */


/* body dark elements */
.dark-mode-body, .dark-mode-navbar, .dark-mode-time-unit   {
  transition: 0.5s;
}
.dark-mode-body {
  background-color: grey;
}


/* nav bar dark elements */

.dark-mode-navbar {
  background-color: black;
  color: white;
}

.dark-mode-navbar .nav-links a {
  color: white;
}
.dark-mode-navbar .nav-links a:hover {
  background-color: grey;
}

.dark-mode-body .share-button {
  background-color: black;
}

/* Select Button */

.dark-mode-body  select {
  background-color: black;
}

.dark-mode-body #timer {
  background-color: grey;
}

/* timer dark elements */

.dark-mode-time-unit {
  background-color: black;
}


/* form dark elements */

.dark-mode-form {
  background-color: rgb(195, 192, 192);
}

.dark-mode-form > button {
  background-color: black;
}
.dark-mode-form > button:hover, .dark-mode-body .share-button:hover, .dark-mode-body  select:hover, .dark-mode-body #darkModeToggle:hover {
  background-color: rgb(95, 95, 95);
}
/* button to change themes */

.dark-mode-body #darkModeToggle {
  background-color: black;
}

@media only screen and (max-width: 980px) {
  .time-unit {
    width: 70px;
   
  }
  
}


@media only screen and (max-width: 750px) {
  .time-unit {
    flex: 1 1 calc(30% - 10px); /* Задает ширину каждого блока, учитывая отступ */
    margin-bottom: 10px; /* Отступ между строками */
    box-sizing: border-box; /* Включает паддинги и бордеры в размер блока */
    text-align: center; /* Центрирует текст внутри блоков */
    padding: 20px 10px; /* Внутренний отступ */
  }

  .navbar .nav-links a {
    font-size: 12px;
    padding: 10px 15px;
  }
  
  .navbar .share-button {
    padding: 7px 15px;
    font-size: 12px;
    margin-right: 20px;
  }

  /* Select button */

  /* select #darkModeToggle{
    padding: 7px 0 7px 0;
    width: 150px;
  } */
}
