body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background-color: #fff;
    color: #333;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .nav-links a {
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar .nav-links a:hover {
    background-color: #f0f8ff;
}

.navbar .share-button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 20px;
}

.navbar .share-button:hover {
    background-color: #0088cc;
}

.main-content {
    display: flex;
    margin-top: 100px;
    width: 80%;
    justify-content: space-between;
}

.container {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 1;
    margin-right: 20px;
}

.event-name {
    font-size: 2em;
    margin-bottom: 20px;
    color: #00aaff;
}

.countdown {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #0088cc;
}

form {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

form h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="datetime-local"],
form button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="datetime-local"] {
    margin-bottom: 10px;
}

form button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0088cc;
}